<!--
  Generated template for the AsistentesActivosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Usuarios Ingresados</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="Usuarios">
      <ion-segment-button value="UsuariosRegistrados">
        Usarios Registrados
      </ion-segment-button>
      <ion-segment-button value="Asistentes">
        Asistentes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="Usuarios">
    <ion-list *ngSwitchCase="'UsuariosRegistrados'">
      <ion-searchbar></ion-searchbar>   
      <ion-item *ngFor="let asistente of ListaAsistentes.usuariosRegistrados">
        <ion-label>{{asistente.Identificacion}} {{asistente.Nombres}} {{asistente.Apellidos}}</ion-label>
      </ion-item>  
    </ion-list>
    <ion-list *ngSwitchCase="'Asistentes'">
      <ion-searchbar></ion-searchbar>
      <ion-item *ngFor="let asistente of ListaAsistentes.Asistentes">
        <ion-label>{{asistente.Identificacion}} {{asistente.Nombres}} {{asistente.Apellidos}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>