<!--
  Generated template for the LeerQrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style="background-image: url('assets/imgs/favicon.png') !important; background-repeat: no-repeat;
     background-size: 25px;">Información del Evento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
   <ion-card>
    <img src="{{Evento.UrlflayerEvento}}"/>  
      <ion-card-title>
      {{Evento.Nombre_Evento}}
      </ion-card-title>
    <div class="card-subtitle">Lugar:{{Evento.Lugar_Evento }}</div>
    <div class="card-subtitle">fecha:{{Evento.Fecha_Evento }}</div>
    <ion-grid *ngIf="usuarioAsistente">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Nombre: {{usuarioAsistente.Nombres}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Apellidos: {{usuarioAsistente.Apellidos}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Identificación: {{usuarioAsistente.Identificacion}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Estado: {{estadoUsuario}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>   
  </ion-grid>
  <ion-grid *ngIf="!usuarioAsistente && estadoUsuario">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>{{estadoUsuario}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  <!-- <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label>Evento:{{Evento.Nombre_Evento}} </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label>Lugar:{{Evento.Lugar_Evento }} </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label>fecha:{{Evento.Fecha_Evento }} </ion-label>
      </ion-item>
    </ion-col>
  </ion-row> -->
  <!-- <ion-grid *ngIf="usuarioAsistente">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Nombre: {{usuarioAsistente.Nombres}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Apellidos: {{usuarioAsistente.Apellidos}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Identificación: {{usuarioAsistente.Identificacion}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Estado: {{estadoUsuario}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <button ion-button (click)="ActivarQR(Evento.id,usuarioAsistente.id)">Activar QR</button>
  </ion-grid>
  <ion-grid *ngIf="!usuarioAsistente && estadoUsuario">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>{{estadoUsuario}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button style="color: black;" (click)="UsuariosActivos(Evento)" value="ingresos">
        <ion-icon name="list-box"></ion-icon>
      </ion-segment-button>
      <ion-segment-button style="color: black;" (click)="scan()" value="esccanear">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-segment-button>
      <ion-segment-button style="color: black;" (click)="Estadisticas(Evento)" value="estadisticas">
        <ion-icon name="stats"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>